.date-module-div {
  height: 25vh;
  width: 50vw;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  border: solid 1px black;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

.date-module-close-btn {
  position: fixed;
  top: 1%;
  right: 1%;
  border: none;
  background-color: white;
  padding: 10px;
  font-size: larger;
  font-weight: 500;
}

.date-module-inner-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.date-module-info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.date-module-info-div p {
  padding: 5px;
}
.date-module-book-btn {
  border-radius: 20px;
  border: solid 1px black;
  background-color: white;
  width: 40%;
  height: 15%;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

.date-module-booked-div {
  text-align: center;
}

.date-module-booked-div p {
  color: #ffb7b7;
}
