.main-section-container {
  display: flex;
  height: 30vh;
  justify-content: space-evenly;
  
}

.upper-main-page {
  min-height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.lower-main-page {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-div {
  text-align: center;
}

.month-h2 {
  font-size: 28px;
  font-weight: bold;
  border-bottom: solid 1px black;
  display: inline-block;
}

.dual-months {
  display: flex;
  justify-content: space-around;
}

.days-div {
  display: flex;
  justify-content: space-evenly;
}

.day-date-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px black;
}

.day-name-p {
  padding-bottom: 5px;
}

.selected-date {
  border: solid 1px black;
  border-radius: 5px;
}

.week-div {
  display: flex;
  justify-content: space-around;
}

.week-btn {
  border: none;
  background-color: white;
  padding: 5px;
}

.booking-slot {
  border-top: solid 1px black;
  flex: 1;
  width: 95%;
  min-height: 46px;
}

.unavailable {
  background-color: #ffb7b7;
}

.booking-slot:last-child {
  margin-bottom: 42px;
}