.month-div {
  text-align: center;
}

.dual-months {
  display: flex;
  justify-content: space-around;
}

.days-div {
  display: flex;
  justify-content: space-evenly;
}

.day-date-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.week-div {
  display: flex;
  justify-content: space-around;
}
