.main-section-container {
  display: flex;
  height: 30vh;
  justify-content: space-evenly;
}

.upper-main-page {
  min-height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.lower-main-page {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-div {
  text-align: center;
}

.month-h2 {
  font-size: 28px;
  font-weight: bold;
  border-bottom: solid 2px black;
  display: inline-block;
}

.dual-months {
  display: flex;
  justify-content: space-around;
}

.days-div {
  display: flex;
  justify-content: space-evenly;
}

.day-date-div {
  display: flex;
  border: none;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 2px black;
  font-size: larger;

  font-weight: 500;
}

.day-name-p {
  padding-bottom: 5px;
}

.selected-date {
  border: solid 2px black;
  border-radius: 5px;
}

.week-div {
  display: flex;
  justify-content: space-around;
}

.week-btn {
  border: none;
  background-color: white;
  padding: 5px;
  font-size: larger;
}

.booking-slot {
  border: none;
  background-color: white;
  border-top: solid 2px black;
  flex: 1;
  width: 95%;
  min-height: 46px;
  font-size: larger;
  font-weight: 500;
}

.unavailable {
  background-color: #ffb7b7;
}

.booking-slot:last-child {
  margin-bottom: calc(10vh + 4px);
}

.lower-main-page-tablet {
  width: 100vw;
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.tablet-timeslots {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 10%;
  margin-left: 1%;
}

.tablet-timeslot-p-div {
  width: 7%;
  border-top: solid 2px black;
  text-align: center;
  font-size: larger;
  font-weight: 500;
}

.tablet-timeslot-p-div p {
  font-size: larger;
}

.tablet-timeslots-days-outer-div {
  width: 86%;
  display: flex;
  justify-content: space-between;
  margin-right: 4.5%;
}

.tablet-timeslots-days {
  border: none;
  background-color: white;
  border-top: solid black 2px;
  width: 10%;
}

@media (min-width: 768px) and (orientation: landscape) {
  .upper-main-page {
    width: 87%;
    margin-left: 10%;
    margin-right: 4%;
  }

  .days-div {
    justify-content: space-between;
  }
  .week-div {
    justify-content: space-between;
  }
  .day-date-div {
    width: 10%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .upper-main-page {
    width: 87%;
    margin-left: 10%;
    margin-right: 3%;
  }

  .days-div {
    justify-content: space-between;
  }
  .week-div {
    justify-content: space-between;
  }
  .day-date-div {
    width: 10%;
  }
}
