.room-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 40px;
  border: black solid 1px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.room-button:first-of-type {
  margin-top: 40px;
}

.room-button:last-of-type {
  margin-bottom: calc(10vh + 12px);
}

.user-button {
  margin-right: 10px;
}