.room-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 40px;
  border: black solid 1px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.room-button:first-of-type {
  margin-top: 40px;
}

.room-button:last-of-type {
  margin-bottom: calc(10vh + 12px);
}

.user-button {
  margin-right: 10px;
}

@media (min-width: 768px) and (orientation: landscape) {
  .room-button {
    border-radius: calc(15px + 1vw);
    height: calc(30px + 2vw);
    font-size: 18px;
  }
}
