.page-title {
  display: flex;
  justify-content: center;
}

.user-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 40px;
  border: black solid 1px;
  border-radius: 20px;
}